@font-face {
    font-family: 'valenciasans';
    src: url('../fonts/valenciasans.eot');
    src: url('../fonts/valenciasans.eot') format('embedded-opentype'),
         url('../fonts/valenciasans.woff2') format('woff2'),
         url('../fonts/valenciasans.woff') format('woff'),
         url('../fonts/valenciasans.ttf') format('truetype'),
         url('../fonts/valenciasans.svg#valenciasans') format('svg');
}

@font-face {
    font-family: 'MoonBold';
    src: url('../fonts/MoonBold.eot');
    src: url('../fonts/MoonBold.eot') format('embedded-opentype'),
         url('../fonts/MoonBold.woff2') format('woff2'),
         url('../fonts/MoonBold.woff') format('woff'),
         url('../fonts/MoonBold.ttf') format('truetype'),
         url('../fonts/MoonBold.svg#MoonBold') format('svg');
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    margin: 0 auto;
    padding: 2em 2em 4em;
}

.card-header a {
   color: #bd002d; 
}

/* HOMEPAGE */

.hp-logo {
    background-color: black;
    color: white;
    height: 32rem;
    width: 32rem;
    border-radius: 50%;
    margin: 4rem auto;
    text-align: center;
    margin-bottom: 6rem;
}

h1 {
    font-family: 'valenciasans', cursive;
    font-size: 7.5rem;
    color: white;
    padding-top: 7rem;
    line-height: 6rem;
}

.pageName {
    padding-top: 3rem;
    font-size: 6rem;
    font-family: 'valenciasans', sans-serif;
}

h3 {
    font-family: 'MoonBold', sans-serif;
    font-size: 1rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

h5 {
    font-size: 1.6rem;
    font-family: 'MoonBold', sans-serif;
}

.hp-description {
    padding-bottom: 5rem;
    text-align: center;
}

/* NAVIGATION */

.nav-stacked {
    width: 75%;
    margin: auto;
    text-align: center;
}

#navMenu {
    float: right;
}


/* CAMPAIGN */

img {
    border-radius: 4px;
    display: block;
    margin: 1.3em auto ;
    max-width: 95%;
}

.card {
    padding-top: 2rem;
}

.caption {
    font-size: 12px;
}

.divider {
    background-color: #ccc;
    height: 1px;
}

/* PLEDGE */

.quotation-top {
    padding-top: 3rem;
    font-size: 1.3rem;
    font-family: Helvetica Neue;
    color: #be1f30;
}

.quotation-bottom {
    font-family: 'MoonBold', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.progress {
    height: 8px;
}

.current {
    float: left;
}

.goal {
    float: right;
}

.pledge {
    padding-top: 4rem;
}

.statements {
    text-align: left;
    width: 90%;
}

.form div {
    padding-top: 1rem;
    width: 70%;
    margin: auto;
}

.btn-group {
    padding-left:19.2rem;
}

.btn-group button {
    background-color: #be1f30;
    color: white;
    width: 10rem;
}

.small-text {
    font-size: 1.2rem;
}